<h1>window.onloadは発動するのか</h1>
<h2>index/index</h2>
<%= link_to 'index/otherへのリンク', other_path %>

<p>
<button id="button">ニャーンボタン</button>
</p>
<p>
<button id="button2">ワンボタン</button>
</p>

<script>
(function(){
  console.log('***index/index beta ***');
})();

$(document).ready(function(){
  console.log('***index/index beta document ready function***');
});

$(window).load(function(){
  console.log('***index/index beta window load function***');
});
</script>
