<h1>window.onloadは発動するのか</h1>
<h2>index/other</h2>
<%= link_to 'index/indexへのリンク', root_path %>

<p>
<button id="button">ニャーンボタン</button>
</p>
<p>
<button id="button2">ワンボタン</button>
</p>

<script>
(function(){
  console.log('***index/other***');
})();

$(document).ready(function(){
  console.log('***index/other beta document ready function***');
});

$(window).load(function(){
  console.log('***index/other beta window load function***');
});
</script>
